:root {
    /* --base: #ffc600;
    --spacing: 10px;
    --gray: 0;
    --radius: 0; */
}

img {
  /* border-radius: var(--radius);
  padding: var(--spacing);
  background: var(--base);
  -webkit-filter: grayscale(var(--gray));
          filter: grayscale(var(--gray)); */

}
